body {
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
    font-family: sans-serif;
  }
  
  textarea {
    width: 500px;
    height: 200px;
    border: 1px solid #434343;
    background-color: #9c9c9c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .counter {
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    background-color: #aaa;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  
  .counter span {
    font-size: 18px;
  }
  
  .counter span:after {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  button {
    
    background-color: #aaa;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #ccc;
    color: #aaa;
  }
  body, textarea, .counter, button {
    text-align: center;
  }